logic/flow/env.json
[
    {
        "id": "338aeddb.5e63c2",
        "type": "tab",
        "label": "環境設定",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62d1583f.cecb5",
        "type": "inject",
        "z": "338aeddb.5e63c2",
        "name": "起動時",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "5f75ea98.3b0574"
            ]
        ]
    },
    {
        "id": "e9ab5ab8.8be7d8",
        "type": "comment",
        "z": "338aeddb.5e63c2",
        "name": "共通設定",
        "info": "",
        "x": 100,
        "y": 100,
        "wires": []
    },
    {
        "id": "5f75ea98.3b0574",
        "type": "template",
        "z": "338aeddb.5e63c2",
        "name": "接続情報設定",
        "field": "const",
        "fieldType": "global",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"no_answer\" : \"申し訳ありません。資料がみつかりませんでした。\",\n    \"secure_id\" : \"\",\n    \"conversation\" : {\n        \"username\" : \"\",\n        \"password\" : \"\",\n        \"workspace_id\" : \"\"\n    },\n    \"cloudant\" : {\n        \"url\" : \"\",\n        \"key\" : \"\",\n        \"password\" : \"\"\n    },\n    \"discovery\" : {\n        \"url\" : \"https://gateway.watsonplatform.net/discovery/api/v1/environments/\",\n        \"user\" : \"\",\n        \"password\" : \"\"\n    }\n}\n",
        "output": "json",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "a0ba9576.d4919"
            ]
        ]
    },
    {
        "id": "5bdc63bd.e456fc",
        "type": "template",
        "z": "338aeddb.5e63c2",
        "name": "ログMsg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "設定しました。",
        "output": "str",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "fd86a9d.10fcbd8"
            ]
        ]
    },
    {
        "id": "fd86a9d.10fcbd8",
        "type": "debug",
        "z": "338aeddb.5e63c2",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "a0ba9576.d4919",
        "type": "function",
        "z": "338aeddb.5e63c2",
        "name": "共通関数",
        "func": "var util = {\n    recordFormat : function(obj){\n        if(obj){\n            if(Array.isArray(obj)){\n                return obj.join('\\n');\n            }\n            return obj;\n        }else{\n            return null;\n        }\n    }\n};\nglobal.set(\"util\",util);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 531,
        "y": 140,
        "wires": [
            [
                "5bdc63bd.e456fc"
            ]
        ]
    },
    {
        "id": "647b9a88.c62844",
        "type": "comment",
        "z": "338aeddb.5e63c2",
        "name": "License",
        "info": "/**\n * Copyright 2017 Nippon Information and Communication Corporation\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\");\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an \"AS IS\" BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n */",
        "x": 90,
        "y": 40,
        "wires": []
    }
]
